/* MAIN */

main {
    background-color: var(--color-card);
}

main section:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

main section:nth-of-type(1) figure {
    position: relative;
    margin: 0;
    width: 100%;
    max-width: 600px;
    z-index: 0;
    
}

main section:nth-of-type(1) figure figcaption {
    z-index: 2;
}

main section:nth-of-type(1) figure::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    var(--color-footer) 0%, 
    rgba(30, 57, 50, 0.0) 100%);
  pointer-events: none;
  z-index: 1;
}

main section:nth-of-type(1) img {
    display: block;
    width: 100%;
    height: auto;
}

main section:nth-of-type(1) figcaption {
    position: absolute;
    bottom: 30px;
    margin: 20px;
    text-align: left;
    color: var(--color-bg);

}

main h1 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-family: "SoDoSanslight";
    margin-left: -20px;
}

main section:nth-of-type(1) button {
    display: block;
    width: 450px;
    margin: 10px auto;
    padding: 14px;
    border-radius: 30px;
    font-size: 1rem;
    font-family: "SoDoSans";
    cursor: pointer;
}

main section:nth-of-type(1) button:first-of-type {
    background: var(--color-bg);
    border: none;
}

main button:first-of-type:hover {
    background: var(--color-card);
}

main button:last-of-type {
    background: none;
    color: var(--color-bg);
    border: 1px solid var(--color-bg);
}

main button:last-of-type:hover {
    background: var(--color-shadow);
}

main section:nth-of-type(2) {
 margin-inline: 2rem;
 
}

main section:nth-of-type(2) h2 {
 font-family: "SoDoSans";
 margin-bottom: -10px;
 margin-top: 50px;
 font-size: 28px;
}

main section:nth-of-type(2) p {
 font-family: "SoDoSansLight";
 font-size: .9em;
}

main section:nth-of-type(2) p span {
    color: var(--color-green);
    text-decoration: underline;
}

/* koffie */

main section:nth-of-type(3) ul {
  list-style: none;
  padding: 0;
  margin: 3em;
}

main section:nth-of-type(3) img {
 max-width: 100%;
 height: auto;
 border-radius: 6px;

}

main section:nth-of-type(3) button {
  background-color: none;
  color: var(--color-green);
  font-family: "SoDoSans";
  font-size: 16px;
  border: 1px solid var(--color-green);
  padding: .8rem 1rem;
  border-radius: 100px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 2em;

}

main section:nth-of-type(3) button:hover {
    background-color: var(--color-hover2);
}

main section:nth-of-type(3) h3 {
 font-family: "SoDoSansRegular";
 font-size: 19px;

}

/* uitleg */

main hr {
  border: none;
  border-top: 1px solid var(--color-hr);
  margin: 2em;
}

main section:nth-of-type(4) {
    padding: 2em;
}

main section:nth-of-type(4) p {
    font-family: "SoDoSansLight";
    font-size: 14px;
}

main section:nth-of-type(4) h2 {
    font-family: "SoDoSans";
    font-size: 18px;
}

main section:nth-of-type(5) {
  background-image: url("../images/icon1.png");

}

main section:nth-of-type(6) {
  background-image: url("../images/icon2.png");

}

main section:nth-of-type(7) {
  background-image: url("../images/icon3.png");

}

main section:nth-of-type(8) {
  background-image: url("../images/icon4.png");

}

main section:nth-of-type(5),
main section:nth-of-type(6),
main section:nth-of-type(7),
main section:nth-of-type(8) {
  background-repeat: no-repeat;
  background-size: 6em; 
  
  padding-left: 6em; 
  padding-right: 2rem;
  padding-bottom: 2rem;

}

main section:nth-of-type(5) h3,
main section:nth-of-type(6) h3,
main section:nth-of-type(7) h3,
main section:nth-of-type(8) h3 {
  font-family: "SoDoSans";
  font-size: 14px;
}    

main section:nth-of-type(5) p,
main section:nth-of-type(6) p,
main section:nth-of-type(7) p,
main section:nth-of-type(8) p {
 font-family: "SoDoSansLight";
 font-size: 14px;
}


@media (min-width: 700px) {

  main {
    display: grid;
    flex-direction: column;
    
  }

  main section:nth-of-type(1) {
    margin-left: -5em; 
    margin-top: -2em; 


  }

}








